html, body {
    text-align: center;
    font-family: 'Calibri', sans-serif; 
}

h1 {
    font-size: 2em; 
    font-weight: bold;
    margin: 20px; 
    text-shadow: 1px 2px lightgray;
    text-transform: uppercase;
}

#survey-form {
    display: flex; 
    flex-direction: column; 
    margin: auto;
    padding: 8px; 
    width: 60%;
    max-width: 800px;
    border: 1px solid black;
    border-radius: 4px; 
    box-shadow: 5px 5px 3px gray;
}

.row {
    margin: 8px 2px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.labels {
    display: inline-block;
    text-align: right;
    width: 30%;
    margin-right: 5px;
}

.up {
    align-items: flex-start;
}

.rightTab {
    display: inline-block;
    text-align: left;
    width: 50%;
}

.input-field {
    border: 1px solid black; 
    box-shadow: 1px 1px gray;
    border-radius: 2px;
    width: 80%;
    height: 20px;  
    margin-left: 2px;
    padding: 5px;  
}

.dropdown {
    width: 30%; 
    height: 25px;
    padding: 2px;
}

.radio, .checkbox {
    display: block; 
}

.radio-list {
    margin: 2px 2px; 
    padding: 0px; 
}

.submit-btn {
    border: 2px solid lightblue;
    border-radius: 5px; 
    background-color: lightblue; 
    padding: 10px 24px; 
    font-size: 0.8em;
    font-weight: 900; 
    text-transform: uppercase;
}

.submit-btn:hover {
    background-color: white;
    border: 2px solid lightgrey;
}

.submit-btn:active {
    border: 2px solid red;
}

input[type="checkbox"], input[type="radio"] {
    float: left;
}

@media screen and (max-width: 520px) {
    #survey-form {
        width: 100%;
        border: none;
        box-shadow: none;
    }
    
    .row {
        flex-direction: column; 
    }

    .up {
        align-items: center;
    }
    
    .labels {
        width: 80%;
        text-align: left;
    }

    .rightTab {
        width: 80%;
        float: left; 
    }
}